<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>College Logo Here.</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/college-dashboard">
        <mat-icon class="icon">dashboard</mat-icon>
        <span class="label">Dashboard</span>
      </a>
      <a mat-list-item routerLink="/students-dashboard">
        <mat-icon class="icon">group</mat-icon>
        <span class="label">Students</span></a>
      <a mat-list-item routerLink="/faculty-dashboard">
        <mat-icon class="icon">group</mat-icon>
        <span class="label">Faculty</span>
      </a>
      <a mat-list-item routerLink="/create-user">
        <mat-icon class="icon">create</mat-icon>
        <span class="label">Create User</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>College Management App</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
